# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
*.VC.db
*.VC.opendb

/3ABookManagement/.vs/3ABookManagement/v15/Browse.VC.db
/3ABookManagement/.vs/3ABookManagement/v15/.suo
/3ABookManagement/x64/Debug/3ABookManagement.ilk
/3ABookManagement/x64/Debug/3ABookManagement.pdb
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.log
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/3ABookManagement.lastbuildstate
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/CL.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/CL.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/CL.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/link.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/link.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/link.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/rc.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/rc.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/rc.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/My3ABookManagement.res
/3ABookManagement/3ABookManagement/x64/Debug/vc141.idb
/3ABookManagement/3ABookManagement/x64/Debug/vc141.pdb
