# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
*.VC.db
*.VC.opendb

/3ABookManagement/.vs/3ABookManagement/v15/Browse.VC.db
/3ABookManagement/.vs/3ABookManagement/v15/.suo
/3ABookManagement/x64/Debug/3ABookManagement.ilk
/3ABookManagement/x64/Debug/3ABookManagement.pdb
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.log
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/3ABookManagement.lastbuildstate
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/CL.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/CL.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/CL.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/link.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/link.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/link.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/rc.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/rc.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.tlog/rc.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Debug/My3ABookManagement.res
/3ABookManagement/3ABookManagement/x64/Debug/vc141.idb
/3ABookManagement/3ABookManagement/x64/Debug/vc141.pdb
/3ABookManagement/.vs/3ABookManagement/v15/ipch/115f07723d97b1f2.ipch
/3ABookManagement/.vs/3ABookManagement/v15/ipch/4d45caad136c439f.ipch
/3ABookManagement/.vs/3ABookManagement/v15/ipch/d09743dee2452587.ipch
/3ABookManagement/Debug/UnitTest.exp
/3ABookManagement/Debug/UnitTest.ilk
/3ABookManagement/Debug/UnitTest.pdb
/3ABookManagement/UnitTest/Debug/UnitTest.log
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/CL.command.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/CL.read.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/CL.write.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.command.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.read.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.write.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/UnitTest.lastbuildstate
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/UnitTest.write.1u.tlog
/3ABookManagement/UnitTest/Debug/vc141.idb
/3ABookManagement/UnitTest/Debug/vc141.pdb
/3ABookManagement/x64/Debug/sqlite3.exp
/3ABookManagement/.vs/3ABookManagement/v15/ipch/21c6dc0f8172a62d.ipch
/3ABookManagement/.vs/3ABookManagement/v15/ipch/3ac9b73e995f2580.ipch
/3ABookManagement/3ABookManagement/DataBase/SQLite/sqlite3ext.h
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.66004.read.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.66004.write.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.66004-cvtres.read.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.66004-cvtres.write.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.66004-rc.read.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/link.66004-rc.write.1.tlog
/3ABookManagement/UnitTest/Debug/UnitTest.tlog/unsuccessfulbuild
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/CL.command.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/CL.read.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/CL.write.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/link.command.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/link.read.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/link.write.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/link-cvtres.read.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/link-cvtres.write.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/link-rc.read.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/link-rc.write.1.tlog
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/UnitTest.lastbuildstate
/3ABookManagement/UnitTest/x64/Debug/UnitTest.tlog/unsuccessfulbuild
/3ABookManagement/UnitTest/x64/Debug/vc141.idb
/3ABookManagement/UnitTest/x64/Debug/vc141.pdb
/3ABookManagement/x64/Debug/UnitTest.pdb
/3ABookManagement/UnitTest/x64/Debug/UnitTest.log
/3ABookManagement/.vs/3ABookManagement/v15/Solution.VC.db-shm
/3ABookManagement/.vs/3ABookManagement/v15/Solution.VC.db-wal
/3ABookManagement/3ABookManagement/x64/Debug/3ABookManagement.Build.CppClean.log
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.log
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/3ABookManagement.lastbuildstate
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/CL.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/CL.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/CL.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/link.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/link.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/link.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/rc.command.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/rc.read.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/rc.write.1.tlog
/3ABookManagement/3ABookManagement/x64/Release/3ABookManagement.tlog/unsuccessfulbuild
/3ABookManagement/3ABookManagement/x64/Release/My3ABookManagement.res
/3ABookManagement/UnitTest/x64/Debug/UnitTest.Build.CppClean.log
/3ABookManagement/x64/Debug/UnitTest.ilk
/3ABookManagement/3ABookManagement/x64/Release/vc141.pdb
